<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> 
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Banking</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="index.js"></script>
</head>

<body style="background-image:url('images/xyz.jpg')">
    <div class="container">
        <div class="row1">
            <div class="colA">
            </div>

            <div class="colB">
                <div class="links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="./createAccount">Create Account</a></li>
                        <li><a href="./viewCustomer">View Customers</a></li>
                        <li><a href="./transaction">Transact</a></li>
                        <li><a href="./transHistory">Transaction History</a></li>
                    </ul>
                </div>

                <a href="#" class="toggle-button" onclick="fun()">
                    <span class="spans"></span>
                    <span class="spans"></span>
                    <span class="spans"></span>
                </a> 
            </div>

        </div>
    </div>
    <div class="row2">
        <div class="col1" style="background-image:url('images/images.png')"></div>
        <div class="col2">
            <h1>WELCOME TO UK BANK</h1>
            <p><button id="d" class="btn btn-outline-warning"><a href="./createAccount">CREATE ACCOUNT</a></button></p>
            <p><button id="d" class="btn btn-outline-warning"><a href="./viewCustomer">VIEW CUSTOMERS</a></button></p>
            <p><button id="d" class="btn btn-outline-warning"><a href="./transaction">TRANSACTION</a></button></p>
            <p><button id="d" class="btn btn-outline-warning"><a href="./transHistory">TRANSACT HISTORY</a></button></p>
        </div>
    </div> 
</body>

</html>