body{
    color:white;
    background-color:rgba(0, 174, 255, 0.918);
    padding-left:3rem;
}
.row1{
    display:flex;
    margin-bottom:5rem;
}
ul{
    list-style: none;
    justify-content:space-between;
    color:white;
    display:flex;
}
li a{
    color:white;
    text-decoration: none;
}
li{
    flex:1;
    display:block;
}
li:hover{
    background-color:rgb(197, 197, 197);
}
.colA{
    padding-top:1rem;
    flex:1;
    order:1;
   max-width:100%;
}
.colB{
    flex:1;
    order:2;
   max-width:100%;
}
h1{
    color:red;
    font-size:3vw;
}
.row2{
    display:flex;
}
.col1{
    flex:1;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top:2.5rem;
    height:14vw;
    width:14vw;
}
.col2{
    flex:1;
}
.spans{
    max-width:100%;
    height:0.1rem;
    border-radius:0.3rem;
    padding:0.1rem;
    color:white;
}
form{
    max-width:40vw;
    max-height:60vw;
    margin-top:2.5rem;
    margin-left:15rem;
    padding:5rem;
    background-color:crimson;
}
input{
    margin-left:4rem;
    width:18rem;
    height:1.5rem;
    border-radius:0.5rem;
}
h{
    padding-left:28rem;
    color:darkmagenta;
    text-decoration:underline;
    font-size:300%;
}

.btn{
    padding:0.5rem 0.8rem;
    margin-left:7rem;
    background-color: white;
    border-radius:0.4rem;
}

.create{
    margin-left:2rem;
    margin-bottom:1rem;
    border-radius:0.3rem;
}

.toggle-button{
   position:absolute;
   top:0.75rem;
   right:1rem;
   display:none;
   color:white;
   flex-direction:column;
   justify-content:space-between;
   width:25px;
   height:20px;
}
.spans{
    height:2px;
    width:100%;
    background-color:white;
    border-radius:10px;  
}
a{
    text-decoration: none;
}
@media(max-width:900px){

    ul{
        justify-content:space-between;
        padding-top:2rem;
        display:none;
    }
    .toggle-button{
        display:flex;
    }
    li{ 
        padding-bottom:1rem;  
    }
    .list{
        display:flex;
        flex-direction:column;
    }
    
.create{
    margin-left:0.8rem;
}
    form{
        max-width:50%;
        max-height:60%;
        margin-top:0.8rem;
        margin-left:5rem;
        padding:2rem;
        background-color:crimson;
    }
    input{
        width:8rem;
        height:1.5rem;
        border-radius:0.5rem;
    }
    h{
        padding-left:5rem;
        font-size:250%;
    }
    .btn{
        padding:0.3rem;
        margin-left:1.1rem;
        background-color: white;
        border-radius:0.2rem;
    }
}
   